<!doctype html>
<html lang="en">
<head> 
<link rel="stylesheet" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
<link rel="stylesheet" href="static/css/mtg.css"/>
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../static/js/mtg.js"></script>
  <meta charset="utf-8">
  <title>Some title, sort of...</title>
  <meta name="description" content="This is a page">
  <meta name="author" content="Paul Brackett">

  <style type="text/css">
     
    </style>
    
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" href="#">Engineering Project</a>
        </div>
      </div>
    </div>
    
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Card Information</li>
              <li class="info">Name:</li><span id="spanName"></span>
              <li class="info">Cost: </li><span id="spanCost"></span>
              <li class="info">Abilities: </li><span id="spanAbilities"></span>
              <li class="info">Flavor: </li><span id="spanFlavor" style="Font-style: italic"></span>
              <li class="info">Type: </li><span id="spanType"></span>    
              <li class="info">Illustrator: </li><span id="spanIllustrator"></span>
            </ul>		 
          </div><!--/.well -->
          <div class="inputs"> 
          <h2>Get Card</h2>
              <p>Enter a card name</p>
              <input maxlength="32" width="32" type="text" id="cardName" ></input>         
              <br />	
              <br />
              <button type='button' id='getCard' name='getCard'>Get Card &raquo;</button>
              <br />
               <h2>Random Card</h2>
              <p>This button gets a random card from the database.</p>
              <br />
              <button type='button' id='getRandom' name='getRandom'>Get Random Card &raquo;</button>
              </div>
        </div><!--/span-->
        <div class="span6">
          <div class="hero-unit">
            <h1>Card Preview</h1>
            <br/>
            <img class="cardPic" id="cardPic" src="static/img/default.jpg"></img>
            <ul class="nav nav-list">
              <li class="nav-header">Edition Information</li>
              <li class="info">Edition: <span id="spanEd"></span> </li>
              <li class="info">Showing <span id="spanCurEd">1</span> of <span id="spanMaxEd">1</span></li>    
            </ul>			 	
            <button id="cycleEditions" class="btn btn-primary btn-large">Cycle Editions &raquo;</button>
          </div>
        </div>
           <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Search Results</li>          
            </ul>		 
            <select size="38" class="list-box" id="searchList">
            </select>
          </div><!--/.well -->
        </div><!--/span--> 
      </div><!--/row-->
</div>
</body>

</html>
          